@charset "utf-8";
/* CSS Document */

body { width: 1024px; height: 768px; }
/*#container { left: 0; right: 0; top: 0; }
#menu { left: 0; right: 0; }*/
#menu-user { display: none; }
#logout-outer {left: 20px;}
#appnav-outer { left: 80px; }

#desktop-inner, .scroll-pane, .scrolling-content { -webkit-overflow-scrolling : touch; }

.ui-layout-west li>span:hover   { background-color: transparent; }