@page {
 	  margin: 0;
 	}
body {
    margin: 70pt 57pt 60pt 57pt;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

td,div { vertical-align: middle; height: 18pt;}
td.top { vertical-align: top}

table.standard { margin: 0 0 0 10pt }
table.grey { background-color:#E5E5E5; margin: 0 0 2px 0; padding: 0 10pt 0 10pt}
td.greybg { background-color:#E5E5E5;}
td.grey, div.grey { color:#666666; }
.smalltext { font-size: 8pt; }

p { margin: 0;}

.tcell-left { width: 142pt; font-size: 8pt; padding-top: 3pt;}
.tcell-left-short { width: 120pt; font-size: 8pt; padding-top: 3pt;}
.short { width: 20pt; vertical-align: top}

.line { height: 10pt; margin-bottom: 10pt; border-bottom: 1px solid #666;}
h1 { font-size: 36pt; margin: 0pt; padding: 0pt;}
h2 { font-size: 25pt; margin: 0pt; padding: 0pt;}
h3 { margin: 0pt; padding: 0pt;}

.barchart_color_planned { background-color: #4BA0C8;}
.barchart_color_inprogress { background-color: #FFD20A;}
.barchart_color_finished { background-color: #82aa0b;}
.barchart_color_not_finished { background-color: #7f7f7f;}
.barchart_color_overdue { background-color: #EB4600;}

.barchart-dependency { border-left:  1px solid #333; border-bottom:  1px solid #333; }

.timeline-legend span {
    display: block;
    padding-left: 8px;
    width: 101px;
	font-size:11px;
	margin-top: 5px;
}

.timeline-legend td { height: 22px; }