#forums .module-bg-active {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #436593;
	background: #6496DC;
}

#forums1, #forums2, #forums3 { padding:0; overflow: hidden !important; /* prevent scrollbars auto-added by Layout */}
#forums3 { display: block;}
#forums3 .scrolling-content { width: 100% !important;}

.forums3-content {
	width: 100%; 
	padding:0; 
	overflow:hidden !important;
	background: #6496DC;
	border-bottom: 1px solid #5A690A;
    border-top: 1px solid #FFFFFF;
}

#forums .ui-layout-west li>span:hover   { background-color: #C1D5F0}
#forums .ui-layout-west li>span.active-link  { background-color: #C1D5F0}
#forums .hover-bg  { background-color: #436593}
#forums .hover-outline { border: 1px solid #436593}

#forums .module-access-status {  border-right: 1px solid #6496DC; }
#forums .module-item-status {  border-left: 1px solid #6496DC; }
#forums .icon-guest {  border-left: 1px solid #6496DC; }
#forums .icon-checked-out {  border-left: 1px solid #6496DC; }

#forums .jspDrag { background: #436593; }

#forums .co-link:hover { color: #82aa0b; }

#forums .center-center a         { color: #000; }
#forums .center-center a:link    { color: #000; }
#forums .center-center a:active  { color: #000; }
#forums .center-center a:visited { color: #000; }
#forums .center-center a:hover   { color: #82aa0b; cursor: pointer}

#forumsActions { display: block; }

#menu .app_forums { text-decoration: none; outline: none; }
#menu .app_forums:hover, #menu .app_forums.active-app {
	border: 1px solid #283e56;
	border-top-color: #6496dc;
	background: #6496DC; 
	background: -moz-linear-gradient(top,  rgba(190,211,239,1) 0%, rgba(67,101,147,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,211,239,1)), color-stop(100%,rgba(67,101,147,1)));
	background: -webkit-linear-gradient(top,  rgba(190,211,239,1) 0%,rgba(67,101,147,1) 100%);
	background: -o-linear-gradient(top,  rgba(190,211,239,1) 0%,rgba(67,101,147,1) 100%);
	background: -ms-linear-gradient(top,  rgba(190,211,239,1) 0%,rgba(67,101,147,1) 100%);
	background: linear-gradient(top,  rgba(190,211,239,1) 0%,rgba(67,101,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bed3ef', endColorstr='#436593',GradientType=0 );
}


.milestone { width: 18px; height: 18px; background: url(../../../img/milestone.png) no-repeat 0px 0px; text-align: center; line-height: 19px;}
.milestone span { margin-left: 3px; }
.phaseouter { margin-top: 1px;}

#forums .table-title, #forums .textarea-title { 
background-color: #C1D5F0; }

#forums .ui-datepicker-trigger-action-status {
	position: absolute;
	left: 318px;
	display: block; height: 13px; width: 15px; margin-top: -15px; background: url(../../../img/icons.png) no-repeat -20px 0px
}

#forums a.disabled { background-position: 0px 0px; }

#forums-right .tcell-left span span { position: relative; display: block; padding: 0 0 0 15px; }
#forums-right .tcell-left-short span { display: block; padding: 0 0 0 15px; }

#forums-right .content-nav         { display: block; color: #000; }
#forums-right .content-nav:hover   { display: block; background-color: #6496DC; color: #000; cursor: pointer; }

.content-outline {background-color: #C1D5F0;}

#forums-right textarea:hover,
#forums-right textarea:focus,
#forums-right input.bg:hover, 
#forums-right input.bg:focus {
    background-color: #C1D5F0;
}

.loadForum { cursor: pointer }

#forums .tbl-protocol td, #forums .elastic {
 background-color:#C1D5F0;
}

#forums-right .tcell-left-100 span span { position: relative; display: block; padding: 0 0 0 15px; }
#forums .SendToContent { display: none; background-color: #E5E5E5; font-style: italic; padding: 10px; }

#forums .qq-upload-drop-area { background: #C1D5F0; }
#forums .qq-upload-drop-area-active { background:#436593;}
#forums .qq-upload-button-hover { background: #6496DC; }
#forums-right .menues-table { border-collapse: collapse; }

#forums-right .tcell-left-posts {
	background-color: #6496DC;
}

#forumsPosts { background-image:url(../../img/forums_thread_bg.png); }
#forumsPosts .toggeled { border-bottom: 1px solid #436593; overflow: hidden; }

#modalDialogForumsPost span.coButton  { background-color: #6496db; color: #fff; }
#forums-right span.coButton:hover   { background-color: #fff; color: #000; cursor: pointer; }
#forumsAnswer > div { padding-bottom: 8px;}

#forums-right .icon-toggle-post { background-position: -460px -20px; }
#forums-right .icon-toggle-post-active { background-position: -440px -20px; }

#forumsAnswerOuter td { padding-top: 4px;}


#forums-right .icon-reply { background-position: -340px 0px; }
