@charset "utf-8";
/* CSS Document */

body, td, pre {color:#000; font-family:Arial, Verdana, Helvetica, sans-serif; font-size:13px; margin:0;}
body { background: #fff; }
body.mceForceColors {background:#fff; color:#000;}

img { border: 0}
p { margin: 0px; padding: 0px; }
ul,ol,li,form { margin: 0;  }
	
a, a:visited, a:active	{ outline: none; color: #161616 !important; text-decoration: none;}
a:hover { color: #666; text-decoration: none;}