#bin { position:absolute; height: 100%;  width: 100%; background-color:#333333;}
#bin .ui-layout-resizer-west { background-color:#82aa0a !important; }
#bin .ui-layout-resizer-west-closed { background-color:#82aa0a !important; }

#bin-top { height: 50px; float: left;}

#bin .module-bg-active { background-color: #999; color:#fff }

#bin1, #bin2, #bin3 { padding:0; overflow: hidden !important; /* prevent scrollbars auto-added by Layout */}
#bin3 { display: block;}
#bin3 .scrolling-content { width: 325px !important;}

.bin3-content { width: 325px;; background-color: #82aa0a; padding:0; overflow:hidden !important;}

#bin .ui-layout-west li>span:hover   { background-color: #666}
#bin .ui-layout-west li>span.active-link  { background-color: #666}
#bin .hover-bg  { background-color: #666}
#bin .hover-outline { border: 1px solid #666}

#binActions span.actionRefresh				{ 	background-position: -250px -258px;	}
#binActions span.actionRefresh:hover 	{ 	background-position: -300px -258px;	}
#binActions span.actionRefresh.noactive { background-position: 0px -258px;  	}


#binActions { display: block; }

#menu .app_bin { color: #333; text-decoration: none; outline: none; background: url(../../img/app_propellor.png) no-repeat 36px 0px; }
#menu .app_bin:hover { color: #fff; text-decoration: none; outline: none; background: #999 url(../../img/app_propellor.png) no-repeat 36px -180px; }
#menu .app_bin.active-app { color: #fff; text-decoration: none; outline: none; background: #999 url(../../img/app_propellor.png) no-repeat 36px -180px; }


#bin .table-title, #bin .textarea-title { 
background-color: #e1f0af; }



#bin a.disabled{
	background-position: 0px -570px
}
/*.table-content input.bg:hover, .table-content input.bg:focus {
    border: 1px solid #82AA0A;
}*/

#bin-right .tcell-left span { display: block; padding: 0 0 0 15px; }
#bin-right .tcell-left-short span { display: block; padding: 0 0 0 15px; }
