@charset "utf-8";
/* CSS Document */

body { color: #000; font-family: Arial, Verdana, sans-serif; font-size:12px; background-color: #999; margin: 0px; 
background-image:url(../../img/login/bg_propellor_tile.gif);
}

form { margin: 0;  }

a, a:visited, a:active	{ outline: none; color: #fff; text-decoration: none; outline: none}
a:hover { color: #666; text-decoration: none;} 

#header-tile { position: absolute; top: 0; left: 0; height: 192px; width: 100%; background-image:url(../../img/login/bg_header_tile.jpg); z-index: 1; }
#header-logos { position: absolute; top: 41px; left: 0; height: 45px; width: 100%;  z-index: 2; text-align: center;}
#top-green-bar { position: absolute; top: 128px; left:0; height: 24px; width: 100%; background-color: #82aa0a;  z-index: 2;}
#bot-green-bar { position: absolute; top: 168px; left:0; height: 24px; width: 100%; background-color: #82aa0a;  z-index: 2;}
#grey-bar { position: absolute; top: 208px; left:0; height: 24px; width: 100%; background-color: #b9b9b9;  z-index: 2;}
#login-outer { position: absolute; top: 128px; left: 0; height: 126px; width: 100%;  z-index: 3; text-align: center;}
td { text-align: left;}
.right { text-align: right;}
.bar-outer { height: 40px; }
.login-text { font-size: 15px; padding-top: 4px;}
.login-copyright { text-align: center}
#button { border: 0; margin: 2px 0 0 0; padding: 0; background: none; cursor: pointer; color: #FFF; outline:none; font-size: 15px;}
#button:hover { color: #666}
.com-input { width: 238px; height: 20px; border: 1px solid #333; margin: 0; padding: 2px 0 0 2px; }
input[type=checkbox] { margin: 0; padding: 0; border: 0;}

#loginFailed { margin-top: -9px; display: none;}
#System { margin-top: 106px; display: none; }
.popup { position: absolute; width: 255px; border: 1px solid #333; background-color: #f9ff7f; height: 80px;}
.popup-inner { padding: 10px;}