/* Reset */
.coSkin table, .coSkin tbody, .coSkin a, .coSkin img, .coSkin tr, .coSkin div, .coSkin td, .coSkin iframe, .coSkin span, .coSkin *, .coSkin .mceText {border:0; margin:0; padding:0; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.coSkin a:hover, .coSkin a:link, .coSkin a:visited, .coSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.coSkin table td {vertical-align:middle}

/* Containers */
.coSkin table {background:#E5EFFD}
.coSkin iframe {display:block; background:#E1F0AF; }
.coSkin .mceToolbar {height:26px}

/* External */
.coSkin .mceExternalToolbar {position:absolute; bottom: -27px; border:1px solid #E1F0AF; border-bottom:0; display:none}
.coSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.coSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.coSkin table.mceLayout {border:0; }
.coSkin table.mceLayout tr.mceFirst td {border: 0;}
.coSkin table.mceLayout tr.mceLast td {border: 0;}
.coSkin table.mceToolbar, .coSkin tr.mceFirst .mceToolbar tr td, .coSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.coSkin .mceIframeContainer { border: 0; vertical-align: top;}
.coSkin .mceStatusbar {display:block; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; height:20px}
.coSkin .mceStatusbar div {float:left; padding:2px}
.coSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.coSkin .mceStatusbar a:hover {text-decoration:underline}
.coSkin table.mceToolbar {margin-left:0px}
.coSkin .mceToolbar .mceToolbarStart span {display:block; background: transparent; width:1px; height:22px; margin-left:3px;}
.coSkin .mceToolbar td.mceFirst span {margin:0}
.coSkin .mceToolbar .mceToolbarEnd span {display:block; background: none; width:1px; height:22px}
.coSkin .mceToolbar .mceToolbarEndListBox span, .coSkin .mceToolbar .mceToolbarStartListBox span {display:none}
.coSkin span.mceIcon, .coSkin img.mceIcon {display:block; width:20px; height:20px}
.coSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.coSkin td.mceCenter {text-align:center;}
.coSkin td.mceCenter table {margin:0 auto; text-align:left;}
.coSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.coSkin .mceButton {display:block; background: none; width:22px; height:22px}
.coSkin a.mceButton span, .coSkin a.mceButton img {margin-left:1px}
.coSkin .mceOldBoxModel a.mceButton span, .coSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.coSkin a.mceButtonEnabled:hover {background-color:#cad89d; background-position:0 -22px}
.coSkin a.mceButtonActive, .coSkin a.mceButtonSelected {background-color:#cad89d;}
.coSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.coSkin .mceButtonLabeled {width:auto}
.coSkin .mceButtonLabeled span.mceIcon {float:left}
.coSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.coSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.coSkin .mceSeparator {display:block; background:none; width:5px; height:22px}

/* ListBox */
.coSkin .mceListBox {margin-left:3px}
.coSkin .mceListBox, .coSkin .mceListBox a {display:block}
.coSkin .mceListBox .mceText {padding-left:4px; text-align:left; width:70px; border:1px solid #b3c7e1; border-right:0; background:#eaf2fb; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.coSkin .mceListBox .mceOpen {width:14px; height:22px; background:none}
.coSkin table.mceListBoxEnabled:hover .mceText, .coSkin .mceListBoxHover .mceText, .coSkin .mceListBoxSelected .mceText {background:#FFF}
.coSkin table.mceListBoxEnabled:hover .mceOpen, .coSkin .mceListBoxHover .mceOpen, .coSkin .mceListBoxSelected .mceOpen {background-position:-66px -22px}
.coSkin .mceListBoxDisabled .mceText {color:gray}
.coSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.coSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.coSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #b3c7e1; background:#FFF;}

/* SplitButton */
.coSkin .mceSplitButton, .coSkin .mceSplitButton a, .coSkin .mceSplitButton span {display:block; height:22px}
.coSkin .mceSplitButton {background: none}
.coSkin .mceSplitButton a.mceAction {width:22px}
.coSkin .mceSplitButton span.mceAction {width:22px; background-image:url(../../img/icons.gif)}
.coSkin .mceSplitButton a.mceOpen {width:10px; background: none}
.coSkin .mceSplitButton span.mceOpen {display:none}
.coSkin table.mceSplitButtonEnabled:hover a.mceAction, .coSkin .mceSplitButtonHover a.mceAction, .coSkin .mceSplitButtonSelected {background:none}
.coSkin table.mceSplitButtonEnabled:hover a.mceOpen, .coSkin .mceSplitButtonHover a.mceOpen, .coSkin .mceSplitButtonSelected a.mceOpen {background-position:-44px -44px}
.coSkin .mceSplitButtonDisabled .mceAction {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.coSkin .mceSplitButtonActive {background-position:0 -44px}

/* ColorSplitButton */
.coSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.coSkin .mceColorSplitMenu td {padding:2px}
.coSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.coSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.coSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.coSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.coSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.coSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a;overflow:hidden}
.coSkin .mce_forecolor span.mceAction, .coSkin .mce_backcolor span.mceAction {height:15px;overflow:hidden}

/* Menu */
.coSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #ABC6DD}
.coSkin .mceNoIcons span.mceIcon {width:0;}
.coSkin .mceNoIcons a .mceText {padding-left:10px}
.coSkin .mceMenu table {background:#FFF}
.coSkin .mceMenu a, .coSkin .mceMenu span, .coSkin .mceMenu {display:block}
.coSkin .mceMenu td {height:20px}
.coSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.coSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.coSkin .mceMenu span.mceText, .coSkin .mceMenu .mcePreview {font-size:11px}
.coSkin .mceMenu pre.mceText {font-family:Monospace}
.coSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.coSkin .mceMenu .mceMenuItemEnabled a:hover, .coSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.coSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.coSkin .mceMenuItemTitle a {border:0; background:#E5EFFD; border-bottom:1px solid #ABC6DD}
.coSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.coSkin .mceMenuItemDisabled .mceText {color:#888}
.coSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.coSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.coSkin .mceMenu span.mceMenuLine {display:none}
.coSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.coSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=50); background:#e1f0af}
/*.coSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}*/

/* Formats */
.coSkin .mce_formatPreview a {font-size:10px}
.coSkin .mce_p span.mceText {}
.coSkin .mce_address span.mceText {font-style:italic}
.coSkin .mce_pre span.mceText {font-family:monospace}
.coSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.coSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.coSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.coSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.coSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.coSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.coSkin span.mce_bold {background-position:0 0}
.coSkin span.mce_italic {background-position:-60px 0}
.coSkin span.mce_underline {background-position:-140px 0}
.coSkin span.mce_strikethrough {background-position:-120px 0}
.coSkin span.mce_undo {background-position:-160px 0}
.coSkin span.mce_redo {background-position:-100px 0}
.coSkin span.mce_cleanup {background-position:-40px 0}
.coSkin span.mce_bullist {background-position:-20px 0}
.coSkin span.mce_numlist {background-position:-80px 0}
.coSkin span.mce_justifyleft {background-position:-460px 0}
.coSkin span.mce_justifyright {background-position:-480px 0}
.coSkin span.mce_justifycenter {background-position:-420px 0}
.coSkin span.mce_justifyfull {background-position:-440px 0}
.coSkin span.mce_anchor {background-position:-200px 0}
.coSkin span.mce_indent {background-position:-400px 0}
.coSkin span.mce_outdent {background-position:-540px 0}
.coSkin span.mce_link {background-position:-500px 0}
.coSkin span.mce_unlink {background-position:-640px 0}
.coSkin span.mce_sub {background-position:-600px 0}
.coSkin span.mce_sup {background-position:-620px 0}
.coSkin span.mce_removeformat {background-position:-580px 0}
.coSkin span.mce_newdocument {background-position:-520px 0}
.coSkin span.mce_image {background-position:-380px 0}
.coSkin span.mce_help {background-position:-340px 0}
.coSkin span.mce_code {background-position:-260px 0}
.coSkin span.mce_hr {background-position:-360px 0}
.coSkin span.mce_visualaid {background-position:-660px 0}
.coSkin span.mce_charmap {background-position:-240px 0}
.coSkin span.mce_paste {background-position:-560px 0}
.coSkin span.mce_copy {background-position:-700px 0}
.coSkin span.mce_cut {background-position:-680px 0}
.coSkin span.mce_blockquote {background-position:-220px 0}
.coSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.coSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.coSkin span.mce_forecolorpicker {background-position:-720px 0}
.coSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.coSkin span.mce_advhr {background-position:-0px -20px}
.coSkin span.mce_ltr {background-position:-20px -20px}
.coSkin span.mce_rtl {background-position:-40px -20px}
.coSkin span.mce_emotions {background-position:-60px -20px}
.coSkin span.mce_fullpage {background-position:-80px -20px}
.coSkin span.mce_fullscreen {background-position:-100px -20px}
.coSkin span.mce_iespell {background-position:-120px -20px}
.coSkin span.mce_insertdate {background-position:-140px -20px}
.coSkin span.mce_inserttime {background-position:-160px -20px}
.coSkin span.mce_absolute {background-position:-180px -20px}
.coSkin span.mce_backward {background-position:-200px -20px}
.coSkin span.mce_forward {background-position:-220px -20px}
.coSkin span.mce_insert_layer {background-position:-240px -20px}
.coSkin span.mce_insertlayer {background-position:-260px -20px}
.coSkin span.mce_movebackward {background-position:-280px -20px}
.coSkin span.mce_moveforward {background-position:-300px -20px}
.coSkin span.mce_media {background-position:-320px -20px}
.coSkin span.mce_nonbreaking {background-position:-340px -20px}
.coSkin span.mce_pastetext {background-position:-360px -20px}
.coSkin span.mce_pasteword {background-position:-380px -20px}
.coSkin span.mce_selectall {background-position:-400px -20px}
.coSkin span.mce_preview {background-position:-420px -20px}
.coSkin span.mce_print {background-position:-440px -20px}
.coSkin span.mce_cancel {background-position:-460px -20px}
.coSkin span.mce_save {background-position:-480px -20px}
.coSkin span.mce_replace {background-position:-500px -20px}
.coSkin span.mce_search {background-position:-520px -20px}
.coSkin span.mce_styleprops {background-position:-560px -20px}
.coSkin span.mce_table {background-position:-580px -20px}
.coSkin span.mce_cell_props {background-position:-600px -20px}
.coSkin span.mce_delete_table {background-position:-620px -20px}
.coSkin span.mce_delete_col {background-position:-640px -20px}
.coSkin span.mce_delete_row {background-position:-660px -20px}
.coSkin span.mce_col_after {background-position:-680px -20px}
.coSkin span.mce_col_before {background-position:-700px -20px}
.coSkin span.mce_row_after {background-position:-720px -20px}
.coSkin span.mce_row_before {background-position:-740px -20px}
.coSkin span.mce_merge_cells {background-position:-760px -20px}
.coSkin span.mce_table_props {background-position:-980px -20px}
.coSkin span.mce_row_props {background-position:-780px -20px}
.coSkin span.mce_split_cells {background-position:-800px -20px}
.coSkin span.mce_template {background-position:-820px -20px}
.coSkin span.mce_visualchars {background-position:-840px -20px}
.coSkin span.mce_abbr {background-position:-860px -20px}
.coSkin span.mce_acronym {background-position:-880px -20px}
.coSkin span.mce_attribs {background-position:-900px -20px}
.coSkin span.mce_cite {background-position:-920px -20px}
.coSkin span.mce_del {background-position:-940px -20px}
.coSkin span.mce_ins {background-position:-960px -20px}
.coSkin span.mce_pagebreak {background-position:0 -40px}
.coSkin span.mce_restoredraft {background-position:-20px -40px}
.coSkin span.mce_spellchecker {background-position:-540px -20px}
