@charset "utf-8";
/* CSS Document */

html, body { 
	width:		100%;
	height:		100%;
	padding:	0;
	margin:	0;
	overflow:	auto; /* when page gets too small */
}

body {  
	color: #fff;
	font-size: 12px; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background: #1a1b18;
}

*:first-child+html #container {height: 85%;} /* IE 7 Fix */

#background { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; }

#container {
		/*min-height:	600px;
		min-width:	1004px;*/
		position:	absolute;
		top:		24px;
		bottom:		80px;
		left:		20px;
		right:		20px;
		
		/*padding-bottom: 55px;
		overflow: hidden;*/
	}


#container-inner {
    left: 0px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
	height: 100%;
}

.app {
	position:absolute; 
	height: 100%;  
	width: 100%; 
	/*background: #1a1b18 url('../img/background.jpg') no-repeat -20px -20px; background-size: 105% 110%;*/
}

/*a:focus, object:focus {
outline: none;
-moz-outline-style: none;
} */

.loader-image { margin-top: 220px; margin-bottom: 30px;}
#intro { position: absolute; top:0; left: 0; height: 100%; width: 100%; z-index: 50000;
	background: #1a1b18;
}
#intro-content { margin-left: 50%; margin-top: 300px; }
#intro-content img { margin-left: -16px; }

#intro-password { position: absolute; top:0; left: 0; height: 100%; width: 100%; background-color:#fff; z-index: 50000}
#intro-password-content { margin-left: 50%; margin-top: 200px; }
#intro-password-content-inner { height: 300px; width: 400px; margin-left: -200px; background-color:#666;}

table { empty-cells:show; }

a         { color: #fff; text-decoration: none; outline: none; }
a:link    { color: #fff; text-decoration: none; outline: none; }
a:active  { color: #82aa0b; text-decoration: none; outline: none; }
a:visited { color: #fff; text-decoration: none; outline: none; }
a:hover   { color: #82aa0b; text-decoration: none; outline: none;}
a:focus  { outline: none; }

.co-link { cursor: pointer; }
.co-link:hover { cursor: pointer; }

.ui-layout-west h3 { margin: 0;
padding: 0 15px 0 0; 
line-height: 25px; 
cursor:pointer; 
color: #fff; 
text-align: right; 
border-top: 1px solid #fff; 
border-bottom: 1px solid #808080; 
text-shadow: 1px 1px 1px #333;
background: rgb(138,138,138); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhOGE4YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTcxNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(138,138,138,1) 0%, rgba(113,113,113,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,138,138,1)), color-stop(100%,rgba(113,113,113,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(138,138,138,1) 0%,rgba(113,113,113,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(138,138,138,1) 0%,rgba(113,113,113,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(138,138,138,1) 0%,rgba(113,113,113,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(138,138,138,1) 0%,rgba(113,113,113,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#717171',GradientType=0 ); /* IE6-8 */
}

/*.ui-layout-west .thirdLevel:last-child h3 { border-radius: 0 0 8px 8px; }
.ui-layout-west .thirdLevel:last-child .projects3-content { border-radius: 0 0 8px 8px; }*/

/*.ui-layout-west .topul {
padding-top:4px;
}*/

.ui-layout-west .sublist {
padding-top:0px;
}

.ui-layout-west li {
padding: 0 0 1px 0;
}

.ui-layout-west li>span { line-height: 22px; padding: 0 46px 0 30px; color: #000; text-decoration: none; outline: none; display: block; position: relative; }
.ui-layout-west li>span:hover   { color: #000; text-decoration: none; outline: none; cursor: pointer; }
.ui-layout-west li>span.active-link  { text-decoration: none; outline: none; }
.ui-layout-west li>span.hover-bg  { color: #000; text-decoration: none; outline: none;}
.ui-layout-west li>span.deactivated { color: #fff; padding-top: 2px; 
background: rgb(94,94,94); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlNWU1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Nzc3NzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(94,94,94,1) 0%, rgba(119,119,119,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(119,119,119,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(119,119,119,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(119,119,119,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(119,119,119,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(119,119,119,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#777777',GradientType=0 ); /* IE6-8 */
border-bottom: 1px solid #808080;
line-height: 24px;
}
.ui-layout-west li>span.deactivated:hover { color: #fff; background-color: transparent !important; }

.ui-layout-west .gradient {
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background: rgb(94,94,94); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlNWU1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Nzc3NzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(94,94,94,1) 0%, rgba(119,119,119,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(119,119,119,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(119,119,119,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(119,119,119,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(119,119,119,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(119,119,119,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#777777',GradientType=0 ); /* IE6-8 */
}


li.ui-state-highlight { height: 13px; margin: 0 0 5px 0;}

.sort-outer { float: left; width: 13px; height: 13px;}
.sort { height: 13px; display: block; background-image:url(../img/sort_buttons_trans.png); cursor: pointer; }
.sort1 { background-position: 0px 0px; }
.sort2 { background-position: 0px -20px; }
.sort3 { background-position: 0px -40px; }
.filter-box-outer { float: left; }
.filter-box-outer form { font-size: 10px; }
.filter-box { background-color: #fff; margin-left: 9px; width: 100px; height: 14px; border: 0; font-size: 11px;}

.filter-search-outer { float: left; background: #fff url(../img/icons.png) no-repeat -200px 0px; width: 14px; height: 14px; }

.module-access-status { position: absolute; width: 21px; height: 22px; margin: 0 0 0 -29px; background:url(../img/icons.png) no-repeat -115px 5px; z-index: 1; display: none;}
.module-access-active { display: block; }
.module-item-status { position: absolute; width: 22px; height: 22px; top: 0; right: 0; background:url(../img/icons.png) no-repeat -294px 7px; z-index: 1; display: none;}
/*.module-item-status { margin: 0 0 0 10px; padding: 0 0 0 10px; width: 12px; height: 14px; background:url(../img/icons.png) no-repeat -300px 2px; display: none;}*/
.deactivated .module-item-status { border: 0;}
.module-item-active { display: block; }
.module-item-active-stopped { display: block; background-position: -315px 7px;}

.text { /*padding-right: 30px;*/ }
.num { position: absolute; right: 25px; font-size: 11px; top: 0;}
.icon-guest { position: absolute; width: 22px; height: 22px; top: 0; right: 23px; background:url(../img/icons.png) no-repeat -275px 8px; z-index: 1; display: none;}
.deactivated .icon-guest { border: 0;}
.icon-guest-active { display: block }
.icon-checked-out { position: absolute; width: 22px; height: 22px;  top: 0; right: 23px; background:url(../img/icons.png) no-repeat -94px 7px; z-index: 1; display: none;}
.icon-checked-out-active { display: block }

#checkedOut { color: #fff; }
#checkedOut a { color: #fff !important }
/*.phase_num { position: absolute; bottom: 0;}*/

.ui-layout-resizer-west { display: none !important; width: 10px !important; height: 20px !important; }
.ui-layout-resizer-west-closed { display: none !important; width: 10px !important; height: 20px !important; }
.ui-layout-toggler-west-open { display: none !important; width: 10px !important; height: 10px !important; top: 0px !important; background-color:#ccc !important; }
.ui-layout-toggler-west-closed { display: none !important; width: 10px !important; height: 10px !important; top: 0px !important; background-color:#ccc !important; }

.ui-layout-center .ui-layout-resizer-west { display: none !important; }
.ui-layout-center .ui-layout-resizer-west-closed { display: none !important; }
.ui-layout-center .ui-layout-toggler-west-open { display: none !important; }
.ui-layout-center .ui-layout-toggler-west-closed { display: none !important; }

.first { margin: 9px 0 5px 0; }
.last { margin: 0 0 14px 0; }

.ui-layout-west { 
/*padding: 0 0 9px 0 !important; */
overflow: hidden; }

.ui-layout-west .radius-helper {
	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	border-left: 1px solid #626362;
	border-right: 1px solid #626362;
	/*padding: 0 0 9px 0;*/
	overflow: hidden;
}

.ui-layout-west .border-radius-fix-br { position: absolute; right: 0; z-index: 2; bottom: 0; }
.ui-layout-west .border-radius-fix-bl { position: absolute; left: 0; z-index: 2; bottom: 0; }

.ui-layout-west-topbar { 
	/*height: 30px; */
	height: 40px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #808080; 
	border-radius: 8px 8px 0 0; 
	background-color:#CCC;
	text-align: center;

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNmI4YjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(182,184,183,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(182,184,183,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#b6b8b7',GradientType=0 ); /* IE6-8 */
}

.spinner { position: absolute; top: 9px; left: 22px; width: 16px; }
.ui-layout-west-topbar img { margin-top: 8px; }
.ui-layout-center { }

.center-north { border: 0;}

#app-top { margin-left: 60px; height: 41px; border-bottom: 1px solid #808080; border-radius: 8px; 

background-color:#CCC;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNmI4YjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(182,184,183,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(182,184,183,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#b6b8b7',GradientType=0 ); /* IE6-8 */


}

#app-top .titles { padding: 8px 0 0 15px; }
.top-headline, .top-subheadline, .top-subheadlineTwo { font-size: 19px; color:#717880; text-shadow: 1px 1px 1px #fff; }
.top-subheadlineTwo { padding-left: 33px; font-size: 14px; }
/*.info-top {  position: absolute; right: 0; height: 80px; text-align: right; margin:  0 15px 0 0;}

.info-top .info-line1 { height: 24px;}*/

.center-center { overflow: hidden; color: #000; font-size: 13px; background: #fff; border-radius: 8px; }
.center-west { border: 0;}
#right { }
.center-south { background-color:#333333; }

.west-ui-content {
				padding:		0;
				overflow:		hidden !important; /* prevent scrollbars auto-added by Layout */
				/*height: 166px;*/
				}

div.firstLevelOuter { position: absolute; width: 323px; z-index: 1;}
div.secondLevelOuter { position: absolute; width: 323px; z-index: 1;}
div.thirdLevelOuter { position: absolute; width: 323px; }

div.thirdLevel { position: absolute; width: 100%; z-index: 1;}

.scrolling-content {
					height:			100%;
					padding:		0;  
					padding-right:	0; 
					margin-bottom: 4px;
					overflow: hidden;
					overflow-y: auto;
				}

.scroll-pane { width: 100%; height: 100%; overflow: auto; position: relative; }


#menu { 
position:absolute; 
bottom:-61px; 
left: -20px; 
right: -20px; 
z-index: 1; 
height: 40px; 
font-size: 13px; 
color: #B2B2B2; 
overflow: hidden;
border-top: 1px solid #989898;
}

#menu-opac {
	position:absolute; 
	bottom:-66px; 
	left: -20px; 
	right: -20px; 
	height: 45px; 
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4Njg2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwLjYxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(104,104,104,1) 0%, rgba(51,51,51,0.61) 49%, rgba(51,51,51,0.6) 50%, rgba(51,51,51,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,104,104,1)), color-stop(49%,rgba(51,51,51,0.61)), color-stop(50%,rgba(51,51,51,0.6)), color-stop(100%,rgba(51,51,51,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(104,104,104,1) 0%,rgba(51,51,51,0.61) 49%,rgba(51,51,51,0.6) 50%,rgba(51,51,51,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(104,104,104,1) 0%,rgba(51,51,51,0.61) 49%,rgba(51,51,51,0.6) 50%,rgba(51,51,51,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(104,104,104,1) 0%,rgba(51,51,51,0.61) 49%,rgba(51,51,51,0.6) 50%,rgba(51,51,51,0.2) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(104,104,104,1) 0%,rgba(51,51,51,0.61) 49%,rgba(51,51,51,0.6) 50%,rgba(51,51,51,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#33333333',GradientType=0 ); /* IE6-8 */
}

#menu-user { margin: 13px 0 0 52px; width: 267px; }

#appnav-outer, #logout-outer {
	height: 36px;
    left: 405px;
	top: 3px;
    overflow: hidden;
    position: absolute;
}

#logout-outer { left: 345px; width: 60px; }
#appnav-outer { right: 20px;}
#appnav {
	
	box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
	height: 36px;
	line-height: 32px;
	text-align:center;
	text-shadow: #333 1px 1px 1px;
	display: inline-block;
	background:#707070;
	background:
		-o-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%),
		-o-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%),
		-o-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%)
	;
	background:
		-moz-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%),
		-moz-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%),
		-moz-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%)
	;
	
	background:
		-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))),
		-webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))),
		-webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080))
	;
}

#appnav li { 
	float: left; 
	width: 99px; 
	height: 36px;
	border-right: 1px solid #565656;
}

#appnav li:last-child { 
	border-right: 0px;
}

#appnav span { 
	display: block; 
	color: #fff; 
	text-decoration: none; 
	outline: none; 
	height: 34px;
	border: 1px solid #7b7b7b;
}

#appnav li:last-child span { 
	border-top: 1px solid #7b7b7b;
	border-left: 1px solid #7b7b7b;
	border-bottom: 1px solid #7b7b7b;
	-moz-border-radius: 0 4px 4px 0; 
	-webkit-border-radius: 0 4px 4px 0; 
	border-radius: 0 4px 4px 0; 
}

#appnav span:hover { color: #fff; text-decoration: none; outline: none; cursor: pointer; }
#appnav span .active_app { color: #fff; text-decoration: none; outline: none; cursor: pointer; }

#logout { 
	position: absolute; 
	width: 59px; 
	border-radius: 4px 0 0 4px;
	box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
	height: 36px;
	line-height: 32px;
	text-align:center;
	text-shadow: #000 1px 1px 1px;
	display: inline-block;
	background:#707070;
	background:
		-o-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%),
		-o-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%),
		-o-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%)
	;
	background:
		-moz-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%),
		-moz-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%),
		-moz-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%)
	;
	
	background:
		-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))),
		-webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))),
		-webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080))
	;

    border-right: 1px solid #565656;

}
#logout span { 
	display: block; 
	color: #fff; 
	text-decoration: none; 
	outline: none; 
	height: 34px;
	border-top: 1px solid #7b7b7b;
	border-right: 1px solid #7b7b7b;
	border-bottom: 1px solid #7b7b7b;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px; 
	border-radius: 4px 0 0 4px;
}
#logout span:hover { color: #fff; text-decoration: none; outline: none; cursor: pointer; 

	border: 1px solid #601301;
	border-top-color: #edaa72;
	background: rgb(238,142,19);
	background: -moz-linear-gradient(top,  rgba(238,142,19,1) 0%, rgba(137,19,1,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,142,19,1)), color-stop(100%,rgba(137,19,1,1)));
	background: -webkit-linear-gradient(top,  rgba(238,142,19,1) 0%,rgba(137,19,1,1) 100%);
	background: -o-linear-gradient(top,  rgba(238,142,19,1) 0%,rgba(137,19,1,1) 100%);
	background: -ms-linear-gradient(top,  rgba(238,142,19,1) 0%,rgba(137,19,1,1) 100%);
	background: linear-gradient(top,  rgba(238,142,19,1) 0%,rgba(137,19,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8e13', endColorstr='#891301',GradientType=0 );
}

#logout-icon { position: absolute; top: 5px; left: 20px; width: 20px; height: 20px; background: url(../img/icons.png) no-repeat -500px 0px; }
/*#logout a { line-height: 1em; display: block; padding:0; height: 20px; width: 20px;}
#logout a, #logout a:link, #logout a:active, #logout a:visited    { outline: none; background: url(../img/icons.png) no-repeat -240px 0px; }
#logout a:hover { outline: none; background-image: url(../img/icons.png) no-repeat -220px 0px; }*/

div.listClose { position: absolute; left: 8px; top: 40px; width: 44px; height: 33px; }
div.listClose span.actionClose { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px 0px; }
div.listClose span.actionClose:hover { background: url(../img/buttons.png) no-repeat -100px 0px; cursor: pointer;}
div.listClose span.actionClose.noactive { background: url(../img/buttons.png) no-repeat 0px 0px; cursor: default;}

ul.actionconsole { margin: 27px 8px 0 8px; }
ul.actionconsole li { display: block; height: 33px; margin-bottom: 21px; }
ul.actionconsole span.actionNew { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px -40px; }
ul.actionconsole span.actionNew:hover { background: url(../img/buttons.png) no-repeat -100px -40px; cursor: pointer;}
ul.actionconsole span.actionNew.noactive { background: url(../img/buttons.png) no-repeat 0px -40px; cursor: default;}

ul.actionconsole span.actionPrint { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px -80px;}
ul.actionconsole span.actionPrint:hover { background: url(../img/buttons.png) no-repeat -100px -80px; cursor: pointer;}
ul.actionconsole span.actionPrint.noactive { background: url(../img/buttons.png) no-repeat -0px -80px; cursor: default;}

ul.actionconsole span.actionSend { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px -120px;}
ul.actionconsole span.actionSend:hover { background: url(../img/buttons.png) no-repeat -100px -120px; cursor: pointer;}
ul.actionconsole span.actionSend.noactive { background: url(../img/buttons.png) no-repeat -0px -120px; cursor: default;}

ul.actionconsole span.actionSendVcard { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px -160px;}
ul.actionconsole span.actionSendVcard:hover { background: url(../img/buttons.png) no-repeat -100px -160px; cursor: pointer;}
ul.actionconsole span.actionSendVcard.noactive { background: url(../img/buttons.png) no-repeat -0px -160px; cursor: default;}

ul.actionconsole span.actionDuplicate { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px -200px;}
ul.actionconsole span.actionDuplicate:hover { background: url(../img/buttons.png) no-repeat -100px -200px; cursor: pointer;}
ul.actionconsole span.actionDuplicate.noactive { background: url(../img/buttons.png) no-repeat -0px -200px; cursor: default; }

ul.actionconsole span.actionRoster { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px -240px;}
ul.actionconsole span.actionRoster:hover { background: url(../img/buttons.png) no-repeat -100px -240px; cursor: pointer;}
ul.actionconsole span.actionRoster.noactive { background: url(../img/buttons.png) no-repeat -0px -240px; cursor: default; }

ul.actionconsole span.actionProjectHandbook { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px -280px;}
ul.actionconsole span.actionProjectHandbook:hover { background: url(../img/buttons.png) no-repeat -100px -280px; cursor: pointer;}
ul.actionconsole span.actionProjectHandbook.noactive { background: url(../img/buttons.png) no-repeat -0px -280px; cursor: default; }

ul.actionconsole span.actionExport { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px -320px;}
ul.actionconsole span.actionExport:hover { background: url(../img/buttons.png) no-repeat -100px -320px; cursor: pointer;}
ul.actionconsole span.actionExport.noactive { background: url(../img/buttons.png) no-repeat -0px -320px; cursor: default; }

ul.actionconsole li.listRefresh { display: block; height: 33px; margin-bottom: 21px; }
ul.actionconsole span.actionRefresh { display: block; height: 33px; background: url(../img/buttons.png) no-repeat -50px -360px;}
ul.actionconsole span.actionRefresh:hover { background: url(../img/buttons.png) no-repeat -100px -360px; cursor: pointer;}
ul.actionconsole span.actionRefresh.noactive { background: url(../img/buttons.png) no-repeat -0px -360px; cursor: default; }

ul.actionconsole li.listHelp { position: absolute; bottom: 76px; height: 33px; width: 44px; margin: 0; }
ul.actionconsole span.actionHelp { display: block; height: 36px; background: url(../img/buttons.png) no-repeat -50px -400px;}
ul.actionconsole span.actionHelp:hover { background: url(../img/buttons.png) no-repeat -100px -400px; cursor: pointer;}
ul.actionconsole span.actionHelp.noactive { background: url(../img/buttons.png) no-repeat -0px -400px; cursor: default;}

ul.actionconsole li.listBin { position: absolute; bottom: 22px; height: 33px; width: 44px; margin: 0; }
ul.actionconsole span.actionBin { display: block; height: 36px; background: url(../img/buttons.png) no-repeat -50px -440px;}
ul.actionconsole span.actionBin:hover { background: url(../img/buttons.png) no-repeat -100px -440px; cursor: pointer;}
ul.actionconsole span.actionBin.noactive { background: url(../img/buttons.png) no-repeat -0px -440px; cursor: default;}

.module-actions { position: absolute; padding-left: 5px; margin-top: -19px;}
.module-actions-modules { margin-top: 7px;}

.icon-delete { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -160px 0px; }
.icon-delete-inactive { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -260px -20px; }
.icon-restore { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -260px 0px; }
.icon-milestone { display: block; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -180px 0px; }
.icon-milestone-grey { display: block; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -200px -20px; }
.icon-reply { display: block; margin: 2px 0 0 0; width: 15px; height: 18px;  background: url(../img/icons.png) no-repeat -340px 0px; }
.icon-info { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -380px 0px; }
.icon-toggle { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -420px 0px; }
.icon-toggle-active { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -400px 0px; }
.icon-toggle-post { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -420px -20px; }
.icon-toggle-post-active { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -400px -20px; }
.icon-toggle-blue { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -380px -20px; }
.icon-delete-white { display: block; margin: 2px 0 0 5px; width: 15px; height: 15px;  background: url(../img/icons.png) no-repeat -280px -20px; }

.tooltip {
	display: none;
	z-index: 3000;
	border: 1px solid #000;
	background-color: #fff;
	padding: 5px;
}
/*#tooltip-advanced {
	display: none;
	z-index: 3000;
	border: 1px solid #000;
	background-color: #fff;
	padding: 5px;
}*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #E5E5E5;
	padding: 5px;
}
#tooltip h3, #tooltip div { margin: 0; color: #000;}
#tooltip h3 { font-size: 11px; font-weight: normal }

.listmember-outer, .docitems-outer { display: inline-block; padding-right: 5px;}
.context {
	position: absolute;
	z-index: 3000;
	display: none;
	border: 1px solid #000;
	padding: 10px 15px;
	font-size: 12px;
	background-color: #a5a5a5;
}

div.toggleSendTo:hover { cursor:pointer }

.peopleLayer-outer {position: absolute; }
.peopleLayer {float: left; height: 14px; opacity: 0; -moz-opacity: 0; filter: alpha(opacity=0); background-color: #ccc; overflow: hidden;}

.nicEdit-main { outline: none;}

.deletefromlist { text-decoration:line-through; }

.white { color: #fff !important;}

.input2 {
	width:17px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 1px solid #666;
	border-left: 0px none;
}

.input5 {
	width:43px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 1px solid #666;
	border-left: 0px none;
}


.ui-layout-content {
overflow:hidden;
position:relative;
}

.content-footer { height: 10px; }

/*.showDialog, .showDialogTime, .addtask { display: block; height: 13px; width: 15px; margin-top: 3px; background:url(../img/icons.png) no-repeat 0px 0px}
.showDialog:hover, .showDialogTime:hover, .addtask:hover { background-position: -20px 0px}*/


/* autocomplete max height */
.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
	}
	/* IE 6 */
	* html .ui-autocomplete {
		height: 100px;
	}





/*time diaolg*/


.coTime-pkr * {
border:0 none;
font-family:inherit;
font-size:x-small;
font-size-adjust:inherit;
font-stretch:inherit;
font-style:normal;
font-variant:inherit;
font-weight:normal;
line-height:inherit;
list-style-type:none;
margin:0;
padding:0;
white-space:nowrap;
}
div.coTime-win {
-moz-border-radius:6px 6px 6px 6px;
background-color:#F0F0F1;
border:3px solid #C0C0C0;
font:xx-small sans-serif;
padding-bottom:0.2em;
}
.coTime-pkr .coTime-cloak {
background-color:#D7D7D7;
opacity:0.7;
}
.coTime-pkr .coTime-hdr {
-moz-border-radius:2px 2px 2px 2px;
background-color:#D0D0D1;
color:#606062;
font-family:Arial,Helvetica,sans-serif;
font-size:medium;
font-weight:normal;
height:1em;
margin:0;
padding:0 0 0.4em;
text-align:center;
}
.coTime-pkr .coTime-x-btn {
-moz-border-radius:0.4em 0.4em 0.4em 0.4em;
background-color:#FCFCFF;
border:1px solid #FF9999;
color:#FF9F9F;
cursor:default;
float:right;
margin:0.3em;
text-align:center;
width:1.5em;
}
.coTime-pkr .coTime-btn {
-moz-border-radius:0.4em 0.4em 0.4em 0.4em;
background-color:#FCFCFE;
border:1px solid #999999;
color:#606062;
cursor:default;
float:left;
font-family:Arial,Helvetica,sans-serif;
height:1.5em;
margin-bottom:1px;
margin-right:1px;
padding-top:0.1em;
}
.coTime-pkr .coTime-body {
padding:0.5em;
}
.coTime-pkr .coTime-date {
float:left;
padding:0 0.5em;
}
.coTime-pkr .coTime-lbl {
clear:left;
color:#606063;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-style:normal;
font-weight:normal;
height:1.3em;
margin:0;
padding:0;
text-align:center;
}
.coTime-pkr .coTime-yrs {
height:2.6em;
text-align:center;
width:18.6em;
}
.coTime-pkr .coTime-yrs-past-btn {
width:2.7em;
}
.coTime-pkr .coTime-yr-prior-btn, .coTime-pkr .coTime-yr-cur-btn, .coTime-pkr .coTime-yr-next-btn {
width:3.75em;
}
.coTime-pkr .coTime-yrs-ahead-btn {
width:2.7em;
}
.coTime-pkr .coTime-mons {
height:4.8em;
text-align:center;
width:18.8em;
}
.coTime-pkr .coTime-mon-btn {
width:2.75em;
}
.coTime-pkr .coTime-mon7-btn {
clear:left;
}
.coTime-pkr .coTime-dom-table {
background-color:#F0F0F1;
border:1px solid #E3E3E4;
border-spacing:1px;
width:18.6em;
}
.coTime-pkr th.coTime-dow {
background-color:#C0C0C1;
color:white;
font-family:Arial,Helvetica,sans-serif;
font-size:95%;
font-style:normal;
font-weight:normal;
}
.coTime-pkr .coTime-dom-btn {
float:none;
height:1.7em;
padding:0 0.5em 0 0;
text-align:right;
}
.coTime-pkr .coTime-dom-btn-empty {
background-color:#F3F3F4;
border:1px solid #C0C0C1;
}
.coTime-pkr .coTime-time {
float:left;
padding:0 0 0 1em;
text-align:center;
}
.coTime-pkr .coTime-hrs {
float:left;
padding-left:0.5em;
padding-right:0.5em;
text-align:center;
width:7.2em;
}
.coTime-pkr .coTime-hrs-am, .coTime-pkr .coTime-hrs-pm {
float:left;
width:3.6em;
}
.coTime-pkr .coTime-hr-btn {
padding-right:0.25em;
text-align:right;
width:3em;
}
.coTime-pkr .coTime-mins {
float:left;
padding-left:0.5em;
padding-right:0.5em;
text-align:center;
width:4.7em;
}
.coTime-pkr .coTime-mins-tens, .coTime-pkr .coTime-mins-ones {
float:left;
width:2.3em;
}
.coTime-pkr .coTime-min-ten-btn, .coTime-pkr .coTime-min-one-btn {
float:left;
text-align:center;
width:2em;
}
.coTime-pkr .coTime-min-ten-btn-empty, .coTime-pkr .coTime-min-one-btn-empty {
background-color:#F3F3F4;
border:1px solid #C0C0C1;
}
.coTime-pkr .coTime-secs {
float:left;
padding-left:0.5em;
padding-right:0.5em;
text-align:center;
width:4.7em;
}
.coTime-pkr .coTime-secs-tens, .coTime-pkr .coTime-secs-ones {
float:left;
width:2.3em;
}
.coTime-pkr .coTime-sec-ten-btn, .coTime-pkr .coTime-sec-one-btn {
float:left;
text-align:center;
width:2em;
}
.coTime-pkr .coTime-sec-ten-btn-empty, .coTime-pkr .coTime-sec-one-btn-empty {
background-color:#F3F3F4;
border:1px solid #C0C0C1;
}
.coTime-pkr .coTime-offs {
clear:left;
float:left;
padding-left:0.5em;
padding-top:0.5em;
text-align:center;
}
.coTime-pkr .coTime-off-select-btn {
width:1.5em;
}
.coTime-pkr .coTime-body-yr-selector {
padding:1em;
}
.coTime-pkr .coTime-yr-mil, .coTime-pkr .coTime-yr-cent, .coTime-pkr .coTime-yr-dec, .coTime-pkr .coTime-yr-yr {
float:left;
width:2.5em;
}
.coTime-pkr .coTime-mil-btn, .coTime-pkr .coTime-cent-btn, .coTime-pkr .coTime-dec-btn, .coTime-pkr .coTime-yr-btn {
float:left;
text-align:center;
width:2em;
}
.coTime-pkr .coTime-yr-era {
float:left;
padding-left:1em;
width:4.1em;
}
.coTime-pkr .coTime-era-btn {
text-align:center;
width:3em;
}
.coTime-pkr .coTime-body-off-selector {
margin:0.5em;
}
.coTime-pkr .coTime-off-off-btn {
clear:left;
padding-left:1em;
padding-right:1em;
text-align:left;
}
.coTime-pkr .coTime-cur-btn {
background-color:#C0C0C1;
border:1px solid #333334;
color:#FCFCFE;
font-weight:bold;
}
.coTime-pkr .coTime-out-btn {
background-color:#F0F0F1;
border:1px solid #C0C0C1;
}
.coTime-pkr .coTime-focus-btn {
border:1px dashed black;
}


.dialogStyle .ui-widget-content { background-color: #4BA0C8}

#tabs.ui-widget-content { border: 0;}
#tabs .ui-widget-header { background: transparent;}
#tabs li { border: 0; }

.tinymce { background-color: #E1F0AF}

/* Forwarding window */
#modalDialogForward { padding-right: 15px;}
.table-window { width: 100%; margin-bottom: 1px;}
.table-window td { vertical-align: top; padding-top: 2px;}
.table-window .tcell-left { width: 65px; padding: 0 15px 0 0;}

.table-window .tcell-left span { display: block; padding: 0 0 0 15px; }
.table-window .tcell-left-short span { display: block; padding: 0 0 0 15px; }
.table-window a.content-nav         { color: #000; }
.table-window a.content-nav :link    { color: #000; }
.table-window a.content-nav :active  { color: #000; }
.table-window a.content-nav :visited { color: #000; }
.table-window a.content-nav :hover   { background-color: #6496db; color: #000}

.table-window input { width: 100%; font-size: 13px !important;}
.table-window textarea { width: 100%; font-size: 13px !important;}

#modalDialog { max-height: 200px; }