<table width="715" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial; color: #666666;">
    <tr>
        <td style="font-size: 11px;">RECHEIS AKADEMIE - Ausbildunsgplattform der J. Recheis Teigwaren GmbH, Fassergasse 8-10 · 6060 Hall in Tirol/Austria, <br>
        Informationen dazu unter: Tel.  +43 (0) 5223 / 57 307-296 · Fax DW-9296, lisa.wenk@recheis.com</td>
    </tr>
    <tr>
        <td style="font-size: 9px;"><br>
        Dieses E-Mail und der Inhalt sind vertraulich und ausschließlich für den (die) bezeichneten Adressaten bestimmt. Wenn Sie nicht der genannte Adressat sind, darf dieses E-Mail von Ihnen weder anderen Personen zugänglich gemacht, noch kopiert, weitergegeben oder zurückbehalten werden. Diese Information kann durch gesetzliche Vorschriften besonders geschützt oder privilegiert sein. Wenn Sie nicht der beabsichtigte Empfänger sind, bitten wir Sie, uns umgehend zu informieren, dieses E-Mail und sämtliche darin enthaltenen Informationen zu löschen und von jeder anderen Handlung im Hinblick auf dieses E-Mail abzusehen.</td>
    </tr>
</table>
