#desktop .topbar {
height: 41px; border-bottom: 1px solid #808080; 

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
border-radius: 8px; 

background-color:#CCC;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNmI4YjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(182,184,183,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(182,184,183,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(182,184,183,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#b6b8b7',GradientType=0 ); /* IE6-8 */
}

#desktop .topbar-logo {
	width: 325px;
	padding-top: 9px;
	text-align: center
}

#desktopSpinner {
	left: 347px;
    position: absolute;
    top: 12px;
    width: 16px;
}

#desktopLicense {
	left: 385px;
	right: 25px;
    position: absolute;
    top: 8px;
	overflow: hidden;
	text-align: right;
	height: 25px;
}

#desktopLicense .small {
	color: #717880;
	font-size: 14px;
	text-shadow: 0px 1px 1px #FFFFFF;
}

#desktopLicense .large {
	color: #717880;
	font-size: 19px;
	text-shadow: 0px 1px 1px #FFFFFF;
}


#desktop-inner {
	bottom: 0;
    overflow: auto;
    position: absolute;
    top: 68px;
    width: 100%;
	}


#menu .app_desktop { }
#menu .app_desktop:hover, #menu .app_desktop.active-app { 
	border: 1px solid #000;
	border-top-color: #333;
	background: #191919;
	background: rgb(75,75,75); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTAxMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(75,75,75,1) 0%, rgba(1,1,1,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,1)), color-stop(100%,rgba(1,1,1,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,1) 0%,rgba(1,1,1,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,1) 0%,rgba(1,1,1,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,1) 0%,rgba(1,1,1,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,1) 0%,rgba(1,1,1,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#010101',GradientType=0 ); /* IE6-8 */
}

#desktopcolumns {
	position: relative;
	height: 100%;
}

#desktopcolumns .column {
float:left;
height: 100%;
width: 25%;
}

#desktopcolumns .widget {
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	margin: 0 25px 25px 0;
	padding-bottom: 1px;
}

.widget-placeholder { border: 2px dashed #999; margin:25px 25px 0 0;}

#desktopcolumns .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 27px;
	cursor: move;
    line-height: 25px;
    text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#desktopcolumns .widget-head h3 { font-weight: bold; font-size: 13px; padding: 0 25px 0 25px; color: #333; }

#desktop .widget-content { 
	max-height: 500px;
	overflow: auto;
	border-radius: 3px 3px 3px 3px;
    margin: 0 4px 3px;
    padding: 10px 12px;
}

#desktop .widget-desktop { background-color:#b9b9b9; }
#desktop .widget-notes { background-color:#d2a009; }
#desktop .widget-notes-inner { background-color:#483703; }
#item_searchWidget { background-color:#E5E5E5; }
#searchWidgetContent { background-color:#A5A5A5;}


.widgetItemOuter { border-radius: 4px; padding: 8px 5px 5px 5px; margin-bottom: 10px;}
.widgetItemOuter:hover { border-radius: 4px; cursor: pointer;}

#item_projectsWidget { background-color: #82AA0B; }
#item_projectsWidget  .widget-head {
	background: rgb(250,251,245);
	background: -moz-linear-gradient(top,  rgba(250,251,245,1) 0, rgba(150,183,50,1) 50%, rgba(130,170,10,1) 51%, rgba(130,170,11,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(250,251,245,1)), color-stop(50%,rgba(150,183,50,1)), color-stop(51%,rgba(130,170,10,1)), color-stop(100%,rgba(130,170,11,1)));
	background: -webkit-linear-gradient(top,  rgba(250,251,245,1) 0,rgba(150,183,50,1) 50%,rgba(130,170,10,1) 51%,rgba(130,170,11,1) 100%);
	background: -o-linear-gradient(top,  rgba(250,251,245,1) 0,rgba(150,183,50,1) 50%,rgba(130,170,10,1) 51%,rgba(130,170,11,1) 100%);
	background: -ms-linear-gradient(top,  rgba(250,251,245,1) 0,rgba(150,183,50,1) 50%,rgba(130,170,10,1) 51%,rgba(130,170,11,1) 100%);
	background: linear-gradient(top,  rgba(250,251,245,1) 0,rgba(150,183,50,1) 50%,rgba(130,170,10,1) 51%,rgba(130,170,11,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbf5', endColorstr='#82aa0b',GradientType=0 );
}
#projectsWidgetContent { background-color:#2d3a04; }
#item_projectsWidget .widgetItemOuter {  border: 2px solid #2D3A04; }
#item_projectsWidget .widgetItemOuter:hover { border: 2px solid #82AA0B; }


#item_productionsWidget { background-color: #82AA0B; }
#item_productionsWidget  .widget-head {
	background: rgb(250,251,245);
	background: -moz-linear-gradient(top,  rgba(250,251,245,1) 0, rgba(150,183,50,1) 50%, rgba(130,170,10,1) 51%, rgba(130,170,11,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(250,251,245,1)), color-stop(50%,rgba(150,183,50,1)), color-stop(51%,rgba(130,170,10,1)), color-stop(100%,rgba(130,170,11,1)));
	background: -webkit-linear-gradient(top,  rgba(250,251,245,1) 0,rgba(150,183,50,1) 50%,rgba(130,170,10,1) 51%,rgba(130,170,11,1) 100%);
	background: -o-linear-gradient(top,  rgba(250,251,245,1) 0,rgba(150,183,50,1) 50%,rgba(130,170,10,1) 51%,rgba(130,170,11,1) 100%);
	background: -ms-linear-gradient(top,  rgba(250,251,245,1) 0,rgba(150,183,50,1) 50%,rgba(130,170,10,1) 51%,rgba(130,170,11,1) 100%);
	background: linear-gradient(top,  rgba(250,251,245,1) 0,rgba(150,183,50,1) 50%,rgba(130,170,10,1) 51%,rgba(130,170,11,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbf5', endColorstr='#82aa0b',GradientType=0 );
}
#productionsWidgetContent { background-color:#2d3a04; }
#item_productionsWidget .widgetItemOuter {  border: 2px solid #2D3A04; }
#item_productionsWidget .widgetItemOuter:hover { border: 2px solid #82AA0B; }

#item_brainstormsWidget { background-color: #b2a85b; }
#item_brainstormsWidget  .widget-head {
	background: rgb(247,245,237);
	background: -moz-linear-gradient(top,  rgba(247,245,237,1) 0, rgba(188,179,112,1) 50%, rgba(178,168,91,1) 51%, rgba(178,168,91,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(247,245,237,1)), color-stop(50%,rgba(188,179,112,1)), color-stop(51%,rgba(178,168,91,1)), color-stop(100%,rgba(178,168,91,1)));
	background: -webkit-linear-gradient(top,  rgba(247,245,237,1) 0,rgba(188,179,112,1) 50%,rgba(178,168,91,1) 51%,rgba(178,168,91,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,245,237,1) 0,rgba(188,179,112,1) 50%,rgba(178,168,91,1) 51%,rgba(178,168,91,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,245,237,1) 0,rgba(188,179,112,1) 50%,rgba(178,168,91,1) 51%,rgba(178,168,91,1) 100%);
	background: linear-gradient(top,  rgba(247,245,237,1) 0,rgba(188,179,112,1) 50%,rgba(178,168,91,1) 51%,rgba(178,168,91,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f5ed', endColorstr='#b2a85b',GradientType=0 );
}
#brainstormsWidgetContent { background-color: #3d391f; }
#item_brainstormsWidget .widgetItemOuter {  border: 2px solid #3d391f; }
#item_brainstormsWidget .widgetItemOuter:hover { border: 2px solid #b2a85b; }

#item_forumsWidget { background-color: #6496dc; }
#item_forumsWidget  .widget-head {
background: rgb(238,244,251);
background: -moz-linear-gradient(top,  rgba(238,244,251,1) 0, rgba(120,164,225,1) 50%, rgba(100,150,220,1) 51%, rgba(100,150,220,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(238,244,251,1)), color-stop(50%,rgba(120,164,225,1)), color-stop(51%,rgba(100,150,220,1)), color-stop(100%,rgba(100,150,220,1)));
background: -webkit-linear-gradient(top,  rgba(238,244,251,1) 0,rgba(120,164,225,1) 50%,rgba(100,150,220,1) 51%,rgba(100,150,220,1) 100%);
background: -o-linear-gradient(top,  rgba(238,244,251,1) 0,rgba(120,164,225,1) 50%,rgba(100,150,220,1) 51%,rgba(100,150,220,1) 100%);
background: -ms-linear-gradient(top,  rgba(238,244,251,1) 0,rgba(120,164,225,1) 50%,rgba(100,150,220,1) 51%,rgba(100,150,220,1) 100%);
background: linear-gradient(top,  rgba(238,244,251,1) 0,rgba(120,164,225,1) 50%,rgba(100,150,220,1) 51%,rgba(100,150,220,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef4fb', endColorstr='#6496dc',GradientType=0 );
}
#forumsWidgetContent { background-color: #22334b; }
#item_forumsWidget .widgetItemOuter {  border: 2px solid #22334b; }
#item_forumsWidget .widgetItemOuter:hover { border: 2px solid #6496dc; }


.widgetItemTitle { position: relative; margin: 0; padding-left: 32px; font-size: 16px; font-weight: bold; }
.widgetItemContent { margin: 5px 0 0 3px; line-height: 20px; }
.widgetIconReminder { position: absolute; top: -1px; margin-left: -30px; width: 24px; height: 26px; background: url(../..//img/icons.png) no-repeat 0px -40px; }
.widgetIconKickoff { position: absolute; top: -1px; margin-left: -30px; width: 24px; height: 26px; background: url(../..//img/icons.png) no-repeat -30px -40px; }
.widgetIconAlert { position: absolute; top: -1px; margin-left: -30px; width: 24px; height: 26px; background: url(../..//img/icons.png) no-repeat -60px -40px; }
.widgetIconNotice { position: absolute; top: -1px; margin-left: -30px; width: 24px; height: 26px; background: url(../..//img/icons.png) no-repeat -90px -40px; }
span.yellow { color: #FFD20A }

#desktop .widget-head a.collapse {
background:url("../../img/icons.png") no-repeat scroll -440px 0px transparent;
display:inline;
float:right;
height:9px;
margin:9px 20px 0 0px;
outline:medium none;
text-indent:-9999em;
width:14px;
}

#desktop .widget-head a.collapse.closed {
background:url("../../img/icons.png") no-repeat scroll -460px 0px transparent;
}

/*#desktop .postit-text {
	font-family: 'Comic Sans MS', 'Marker Felt';
	font-size: 16px;
	overflow: hidden;
}*/

/*#desktop .postit textarea {
    background-color: transparent;
    border: 0 none;
	padding: 0;
	margin: 0;
	font-family: 'Comic Sans MS', 'Marker Felt';
	font-size: 16px; 
}*/

.desktop-icon-delete {
    background: url("../../img/icons.png") no-repeat scroll -120px -40px transparent;
    display: block;
    height: 25px;
    width: 20px;
}

.desktop-icon-forward {
    background: url("../../img/icons.png") no-repeat scroll -150px -40px transparent;
    display: block;
    height: 20px;
    width: 23px;
}

.desktop-icon-info {
    background: url("../../img/icons.png") no-repeat scroll -190px -36px transparent;
    display: block;
    height: 25px;
    width: 23px;
}

#desktopActions { position: absolute; bottom: 0; width: 195px; height: 48px; z-index: 49000; border: 1px solid #939598; border-radius: 4px; overflow: hidden; }
#desktopActionsTrans { position: absolute; width: 195px; height: 48px; background: #000; border-radius: 4px; }
#desktopActions .desktopActionOuter { height: 48px; width: 48px; float: left; position: relative;}
#desktopActions .Left { border-radius: 4px 0 0 4px; }
#desktopActions .Right { border-radius: 0 4px 4px 0; }
#desktopActions .desktopActionOuter span { display: block; height: 48px; }
#desktopActions .desktopActionOuter span:hover { background-color: #0459e6; cursor: pointer}
#desktopActions .desktopActionSpacer { float: left; width: 1px; height: 48px; background: #2c2c2d; }
#desktopNewPostit div { position: absolute; top: 13px; left: 13px; width: 24px; height: 22px; background: url("../../img/icons.png") no-repeat scroll -520px 0px transparent; }
#desktopWidgetsRefresh div { position: absolute; top: 13px; left: 12px; width: 24px; height: 22px; background: url("../../img/icons.png") no-repeat scroll -550px 0px transparent; }
#desktopHelp div { position: absolute; top: 14px; left: 15px; width: 24px; height: 22px; background: url("../../img/icons.png") no-repeat scroll -580px 0px transparent; }
#desktopActionsDrag div { position: absolute; top: 13px; left: 13px; width: 21px; height: 22px; background: url("../../img/icons.png") no-repeat scroll -500px -40px transparent; }