#projects .module-bg-active { 
	border-top: 1px solid #fff;
	border-bottom: 1px solid #64780A;
	background: #82aa0a;
}

#projects1, #projects2, #projects3  { position: relative; padding: 0; }
#projects3 { display: block;}
#projects3 .scrolling-content { width: 100% !important;}

.projects3-content { 
	width: 100%; 
	padding:0; 
	overflow:hidden !important;
	background: #82aa0a;
	border-bottom: 1px solid #5A690A;
    border-top: 1px solid #FFFFFF;
}

#projects .ui-layout-west li>span:hover   { background-color: #E1F0AF}
#projects .ui-layout-west li>span.active-link  { background-color: #E1F0AF}
#projects .hover-bg  { background-color: #577207}
#projects .hover-outline { border: 1px solid #577207}

#projects .module-access-status {  border-right: 1px solid #82aa0a; }
#projects .module-item-status {  border-left: 1px solid #82aa0a; }
#projects .icon-guest {  border-left: 1px solid #82aa0a; }
#projects .icon-checked-out {  border-left: 1px solid #82aa0a; }

#projects .co-link:hover { color: #82aa0b; }

#projects .center-center a         { color: #000; }
#projects .center-center a:link    { color: #000; }
#projects .center-center a:active  { color: #000; }
#projects .center-center a:visited { color: #000; }
#projects .center-center a:hover   { color: #82aa0b; cursor: pointer}

#projectsActions { display: block; }

#menu .app_projects {  }
#menu .app_projects:hover, #menu .app_projects.active-app {
	border: 1px solid #64780a;
	border-top-color: #82aa0a;
	background: #e1f0af; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZjBhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzlhYmIzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzhmYjUyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NDc4MDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e1f0af 0%, #9abb36 50%, #8fb524 51%, #647809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1f0af), color-stop(50%,#9abb36), color-stop(51%,#8fb524), color-stop(100%,#647809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e1f0af 0%,#9abb36 50%,#8fb524 51%,#647809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e1f0af 0%,#9abb36 50%,#8fb524 51%,#647809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e1f0af 0%,#9abb36 50%,#8fb524 51%,#647809 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e1f0af 0%,#9abb36 50%,#8fb524 51%,#647809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f0af', endColorstr='#647809',GradientType=0 ); /* IE6-8 */
}


#projects div.contentTabs li span:hover, #projects div.contentTabs li span.active {
border: 1px solid #c1c99d;
background: #bfc79a;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmYzc5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzk0YTI1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzY0NzgwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NDc4MGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #bfc79a 0%, #94a257 50%, #64780a 51%, #64780a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfc79a), color-stop(50%,#94a257), color-stop(51%,#64780a), color-stop(100%,#64780a));
background: -webkit-linear-gradient(top,  #bfc79a 0%,#94a257 50%,#64780a 51%,#64780a 100%);
background: -o-linear-gradient(top,  #bfc79a 0%,#94a257 50%,#64780a 51%,#64780a 100%);
background: -ms-linear-gradient(top,  #bfc79a 0%,#94a257 50%,#64780a 51%,#64780a 100%);
background: linear-gradient(to bottom,  #bfc79a 0%,#94a257 50%,#64780a 51%,#64780a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc79a', endColorstr='#64780a',GradientType=0 );
}

#projects div.contentSubTabs li span:hover, #projects div.contentSubTabs li span.active {
color: #fff;
border: 1px solid #666;
background: rgb(61,61,61); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzc0NzQ3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzdmN2Y3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZjdmN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(61,61,61,1) 0%, rgba(116,116,116,1) 50%, rgba(127,127,127,1) 51%, rgba(127,127,127,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(50%,rgba(116,116,116,1)), color-stop(51%,rgba(127,127,127,1)), color-stop(100%,rgba(127,127,127,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(116,116,116,1) 50%,rgba(127,127,127,1) 51%,rgba(127,127,127,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(116,116,116,1) 50%,rgba(127,127,127,1) 51%,rgba(127,127,127,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(116,116,116,1) 50%,rgba(127,127,127,1) 51%,rgba(127,127,127,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(116,116,116,1) 50%,rgba(127,127,127,1) 51%,rgba(127,127,127,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-8 */

}


.milestone { width: 18px; height: 18px; background: url(../../../img/milestone.png) no-repeat 0px 0px; text-align: center; line-height: 19px;}
.milestone span { margin-left: 3px; }

#projects .table-title, #projects .textarea-title { 
background-color: #e1f0af; }

#projects .ui-datepicker-trigger-action-status {
	position: absolute;
	left: 318px;
	display: block; height: 13px; width: 15px; margin-top: -15px; background: url(../../../img/icons.png) no-repeat -20px 0px
}

#projects a.disabled { background-position: 0px 0px; }

#projects-right .tcell-left span span { position: relative; display: block; padding: 0 0 0 15px; }
#projects-right .tcell-left-short span { display: block; padding: 0 0 0 15px; }

#projects-right .content-nav         { display: block; color: #000; }
#projects-right .content-nav:hover   { display: block; background-color: #82AA0A; color: #000; cursor: pointer; }

.content-outline {background-color: #e1f0af;}

#projects-right textarea:hover,
#projects-right textarea:focus,
#projects-right input.bg:hover, 
#projects-right input.bg:focus {
    background-color: #e1f0af;
}

.loadProject { cursor: pointer }
.loadProjectsPhase { cursor: pointer }

#projects .tbl-protocol td, #projects .elastic, #projects .elastic-two, .projects-colorTable {
 background-color:#E1F0AF;
}

#barchart-zoom { margin: 5px 0 0 42px; }
#barchart-zoom .zoom-xsmall { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat 0px -20px}
#barchart-zoom .zoom-xsmall:hover { background: url(../../img/icons.png) no-repeat -100px -20px; cursor: pointer;}
#barchart-zoom .zoom-xsmall-active { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat -100px -20px}

#barchart-zoom .zoom-small { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat -20px -20px}
#barchart-zoom .zoom-small:hover { background: url(../../img/icons.png) no-repeat -120px -20px; cursor: pointer;}
#barchart-zoom .zoom-small-active { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat -120px -20px}

#barchart-zoom .zoom-medium { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat -40px -20px}
#barchart-zoom .zoom-medium:hover { background: url(../../img/icons.png) no-repeat -140px -20px; cursor: pointer;}
#barchart-zoom .zoom-medium-active { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat -140px -20px}

#barchart-zoom .zoom-large { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat -60px -20px}
#barchart-zoom .zoom-large:hover { background: url(../../img/icons.png) no-repeat -160px -20px; cursor: pointer;}
#barchart-zoom .zoom-large-active { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat -160px -20px}

#barchart-zoom .zoom-xlarge { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat -80px -20px}
#barchart-zoom .zoom-xlarge:hover { background: url(../../img/icons.png) no-repeat -180px -20px; cursor: pointer;}
#barchart-zoom .zoom-xlarge-active { float: left; margin-right: 7px; display: block; height: 13px; width: 13px; background: url(../../img/icons.png) no-repeat -180px -20px}


/* PSP */

#psp { margin-left: 10px;}
.barchart-outer { border-right:  1px solid #dedede; border-bottom:  1px solid #dedede; }
.barchart-dependency { border-left:  1px solid #333; border-bottom:  1px solid #333; }
.barchart-arrow { position: absolute; right: -6px; bottom: -6px; height: 6px; width: 13px; background-image:url(../../img/gantt_arrow.png) }
.psp-item .line { height: 1px; border-left: 1px solid #fff; }
.barchart_color_planned { background-color: #6496DC;}
.barchart_color_planned .line { background-color: #436593;}
.barchart_color_planned .light { background-color: #c1d5f0;}
.barchart_color_inprogress { background-color: #FFD20A;}
.barchart_color_inprogress .line { background-color: #C9A409;}
.barchart_color_inprogress .light { background-color: #ffe780;}
.barchart_color_finished { background-color: #82aa0b;}
.barchart_color_finished .line { background-color: #5A690A;}
.barchart_color_finished .light { background-color: #e1f0af;}
.barchart_color_not_finished { background-color: #7f7f7f;}
.barchart_color_not_finished .line { background-color: #666;}
.barchart_color_not_finished .light { background-color: #e5e5e5;}
.barchart_color_overdue { background-color: #EB4600 !important;}
.barchart_color_overdue .line { background-color: #8E1E00;}
.barchart_color_overdue .light { background-color: #EB4600;}

.timeline-legend { width: 700px; font-size: 11px; line-height: 16px; }
.timeline-legend span { width: 120px; display: block; padding-left: 8px;}

.psp-item { position: relative; margin: 0 0 15px 10px; border: 1px solid #666; width: 168px; height: 71px; font-size: 11px;  }
.psp-item.phase { width: 178px; margin-left: 0px; }
.psp-item div.border { border-left: 1px solid #fff; border-top: 1px solid #fff; }
.psp-item-startdate { position: absolute; left: 9px; bottom: 3px; width: 75px; height: 13px;}
.psp-item-enddate { position: absolute; right: 9px; bottom: 3px; width: 74px; height: 13px; text-align: right;}
.psp-item-datedash { position: absolute; left: 82px; bottom: 3px; width: 74px; height: 13px; }
.psp-item-milestone { bottom: 5px; height: 16px; left: 9px; position: absolute; width: 75px; }
.psp-item-projectlink { position: absolute; left: 0px; bottom: 0; width: 22px; height: 13px; }
.icon-projectlink-psp { background: url("../../img/icons.png") no-repeat scroll -550px -84px transparent; display: block; height: 15px; margin: 0 0 0 9px; width: 21px; }
.psp-item-startdate-projectlink { position: absolute; left: 40px; bottom: 3px; width: 55px; height: 13px;}
.psp-item-enddate-projectlink { position: absolute; right: 9px; bottom: 3px; width: 64px; height: 13px; text-align: right;}
.psp-connector-project-vert { position: absolute; top: 72px; left: -1px; height: 19px; width: 90px; }
.psp-connector-project-vert .top { position: absolute; top: 0; left: 0; height: 9px; width: 89px; border-left: 1px solid #666; border-bottom: 1px solid #666; }
.psp-connector-project-vert .bottom { position: absolute; top: 10px; right: 0px; height: 9px; width: 1px; background-color: #666; }
.psp-connector-phase-hori { position: absolute; top: -11px; left: -102px; height: 9px; width: 190px; border-top: 1px solid #666; border-right: 1px solid #666; }
.psp-connector-phase-vert { position: absolute; top: 28px; left: -10px; height: 1px; width: 9px; background-color: #000; }
.psp-connector-vert { position: absolute; top: -51px; left: -11px; height: 87px; width: 9px; border-bottom: 1px solid #666; border-left: 1px solid #666; }

.td_border_top_right {
 border-top: 1px solid #24211D; 
 border-right: 1px solid #24211D; 
 border-bottom: 0; 
 border-left:  0; 
}

.td_border_left {
 border-top: 0; 
 border-left: 1px solid #24211D; 
 border-right: 0; 
 border-bottom:  0; 
}

#projects .SendToContent { display: none; background-color: #E5E5E5; font-style: italic; padding: 10px; }

#projects .qq-upload-drop-area { background: #e1f0af; }
#projects .qq-upload-drop-area-active { background:#82AA0A;}

/* Module Filter*/
#projects > .ui-autocomplete { box-shadow: 4px 4px 6px #666666; width: 250px !important; height: 250px !important; max-height: 250px; background: #e1f0af; border: 1px solid #82aa0a;}
#projects > .ui-autocomplete a { color: #000;}
#projects > .ui-autocomplete a.ui-state-hover, #projects > .ui-autocomplete a.ui-state-active { color: #fff; margin: 0; background: #82aa0a; border-radius: 0;}


#projects .canvasDiv { width: 400px; height: 400px; background-image:url(../../img/body.png); float: left;}
#projects .canvasDivSketch { width: 1161px; height: 400px; background-repeat: no-repeat; background-size: auto 400px; float: left;}
#projects .tasks { width: 400px; height: 400px; border: 1px solid #000; float: left;}
#projects .canvasDraw{ position: absolute; width: 400px; height: 400px; cursor: url("../../img/draw.gif") 2 2, crosshair;}
#projects .canvasDrawSketch{ position: absolute; width: 1161px; height: 400px; cursor: url("../../img/draw.gif") 2 2, crosshair;}
#projects .canvasDraw:active { cursor: url("../../img/draw.gif") 2 2, crosshair;}
#projects .circle { position: absolute; cursor: pointer; background: #fff; border-radius: 50% 50% 50% 50%; 
    display: block;
    height: 22px;
    width: 22px; }
#projects .circle div { padding-top: 3px; text-align: center; font-weight: bold; font-size: 12px; color: #fff; }
/*#projects .circle0 { border: 2px solid #3C4664; color: #3C4664; }
#projects .circle1 { border: 2px solid #EB4600; color: #EB4600; }
#projects .circle2 { border: 2px solid #915500; color: #915500; }
#projects .circle3 { border: 2px solid #0A960A; color: #0A960A; }
#projects .circle4 { border: 2px solid #AA19AA; color: #AA19AA; }
#projects .circle5 { border: 2px solid #3C4664; color: #3C4664; }
#projects .circle6 { border: 2px solid #EB4600; color: #EB4600; }
#projects .circle7 { border: 2px solid #915500; color: #915500; }
#projects .circle8 { border: 2px solid #0A960A; color: #0A960A; }
#projects .circle9 { border: 2px solid #AA19AA; color: #AA19AA; }*/

#projects .circle0 { background: #6EAAFF; }
#projects .circle1 { background: #FF7878; }
#projects .circle2 { background: #FFD41D; }
#projects .circle3 { background: #8CD264; }
#projects .circle4 { background: #D2B4FF; }
#projects .circle5 { background: #9999FF; }
#projects .circle6 { background: #FF9E1F; }
#projects .circle7 { background: #BCBCBC; }
#projects .circle8 { background: #64CCC9; }
#projects .circle9 { background: #FF83FF; }

/*#projects .loadanvas.active { cursor: pointer; background: red; }*/
#projects .loadCanvasList { cursor: pointer; background: #ccc; }
#projects .loadCanvasList.active { cursor: pointer; background: red; }

#projects .canvasToolsOuter { position: relative; height: 60px; z-index: 998}
#projects .canvasTools { position: absolute; left: 0px; height: 60px; z-index: 999; }
#projects .canvasTools span { display: inline-block; width: 60px; height: 60px; background: url(../../img/drawtools.png) no-repeat; }
#projects .canvasTools span:hover { cursor: pointer; }

#projects .canvasTools span.addTool { background-position: 19px 19px; }
#projects .canvasTools span.addTool:hover { background-position: 19px -61px; }

#projects .canvasTools span.penTool { background-position: -42px 19px; }
#projects .canvasTools span.penTool:hover { background-position: -42px -61px; }
#projects .canvasTools span.penTool.active { background-position: -42px -61px; }

#projects .canvasTools span.erasorTool { background-position: -120px 19px; }
#projects .canvasTools span.erasorTool:hover { background-position: -120px -61px; }
#projects .canvasTools span.erasorTool.active { background-position: -120px -61px; }

#projects .canvasTools span.rotateTool { background-position: -327px 19px; }
#projects .canvasTools span.rotateTool:hover { background-position: -327px -61px; }

#projects .canvasTools span.clearTool { background-position: -187px 19px; }
#projects .canvasTools span.clearTool:hover { background-position: -187px -61px; }

#projects .canvasTools span.undoTool { background-position: -260px 21px; }
#projects .canvasTools span.undoTool:hover { background-position: -260px -59px; }
#projects .canvasTools span.undoTool.active { background-position: -260px -59px; }

#projects .row0 { background: #f2f2f2; border-top: 1px solid #fff; border-bottom: 1px solid #ccc; line-height: 21px; }
#projects .row1 { background: #e5e5e5; border-top: 1px solid #fff; border-bottom: 1px solid #ccc; line-height: 21px; }

#projects-right .timeline-legend { width: 700px; font-size: 11px; line-height: 16px; }
#projects-right .timeline-legend span { width: 120px; display: block; padding-left: 8px;}
#projects-right .barchart_color_planned { background-color: #6496DC;}
#projects-right .barchart_color_inprogress { background-color: #FFD20A;}
#projects-right .barchart_color_inprogress { background-color: #FFD20A;}
#projects-right .barchart_color_finished { background-color: #82aa0b;}
#projects-right .barchart_color_not_finished { background-color: #7f7f7f;}